/*create a font for logo*/
@font-face {
    font-family: Pacifico;
    src:url(../fonts/Pacifico/Pacifico-Regular.ttf)
}

.logo {
    font-family:Pacifico;
    font-size: 23pt;
}

.navbar {
    background-color: red;
}


/* This is login.html style css file */

/* login background */
.bk {
    background-image: url('static/images/loginbk.jpg');
    background-size:cover;
    background-position:bottom;
    background-attachment: fixed;
}

/* login container style */
.login-container{ 
    min-height: 70vh; 
    display: flex;
    align-items: center;
}

.opacity{
    opacity:0.8
}

