<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
        <!--Boot Strap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            This is for header
        </header>
        <div class="container">
            <h1>Happy Study Statistics</h1>
            <p>Before begin study statistics, we first need to know what is statistics. </p>
            <hr>
            <h2>1. What is Statistics</h2>
            <p>Statistics is the science concerned with developing and studying methods 
                for collecting, analyzing, interpreting and presenting empirical data. <br>
                Statistics are very important in our modern worlds:
            </p>
            <ul>
                <li>It gives us a way to transform data into information and information into practice</li>
                <li>Able to extract important information from data by manipulating the data</li>
                <li>Understanding statistics, even at a basic level, is as vital as literacy in today’s world.</li>
            </ul>
        </div>
        <div class="container">
            <hr>
            <h2>2. Basic Statistics</h2>
            <p>Basic Statistics is mainly about doing descriptive statistics. Descriptive statistics is one part of statistics that 
                involves organizing, describing and displaying data. It is mainly about finding the central tendency of the data and 
                data variability. 
            </p>
            <h3>2.1. Central Tendency</h3>
            <p>There are 3 main ways of measure data central tendency includes mean, median and mode.
                <ul>
                    <li>Mean sometimes often called average. To find the mean, you need to take the whole set of data and the summation of the data.
                        After that, divide the sum by the number of each data that are in the dataset <br>
                        For example: Find the mean of the following dataset:
                        56,35,45,67,12,24,48,55,58,30 <br><br>
                        <math><mfrac>
                            <mi> 56+35+45+67+12+24+48+55+58+30 </mi>
                            <mi> 10 </mi></mfrac>
                        </math><br><br>
                        <math><mfrac>
                            <mi> 430 </mi>
                            <mi> 10 </mi></mfrac>
                        </math>  
                        = 43 <br><br>
                        Mean = 43   
                    </li>
                    <li>
                        Median is the middle number in the whole dataset. In order to find median, we will need to sort data in ascending orders.<br>
                        If the data is odd number: 56,35,45,67,12,24,48 <br><br>
                        = 12, 24, 35, 45, 48, 56, 67
                        <math><mfrac>
                            <mi> 7 </mi>
                            <mi> 2 </mi></mfrac>
                        </math><br><br>
                        = 3.5 = 4. So the number in the forth position. which is 45 <br><br>
                        Median = 45 <br><br>
                        If the data is even number: 56,35,45,67,12,24,48,55 <br><br>
                        <math><mfrac>
                            <mi> 8 </mi>
                            <mi> 2 </mi></mfrac>
                        </math><br><br>
                        = 4. However, in this case, we need to use number in position 4 and 5 and get the median. <br><br>
                        <math><mfrac>
                            <mi> 45 + 48 </mi>
                            <mi> 2 </mi></mfrac>
                        </math><br><br>
                        Median = 46.5
                    </li>
                    <li>Mode is the data that have the highest frequency <br><br>
                        For example:2,5,6,2,2,2,5,6,2 <br><br>
                        Mode = 2
                    </li>
                </ul>
            </p>
        </div>
        <footer class="container">
            <p>Contact us</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>