{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}    
        </div>
        <div class="container">
            <hr>
            <h2>1. What is Statistics</h2>
            <p>Statistics is the science concerned with developing and studying methods 
                for collecting, analyzing, interpreting and presenting empirical data. <br>
                Statistics are very important in our modern worlds:
            </p>
            <ul>
                <li>It gives us a way to transform data into information and information into practice</li>
                <li>Able to extract important information from data by manipulating the data</li>
                <li>Understanding statistics, even at a basic level, is as vital as literacy in today’s world.</li>
            </ul>
        </div>
        <div class="container">
            <hr>
            <h2 id="Basic">2. Basic Statistics</h2>
            <p>Basic Statistics is mainly about doing descriptive statistics. Descriptive statistics is one part of statistics that 
                involves organizing, describing and displaying data. It is mainly about finding the central tendency of the data and 
                data variability. 
            </p>
            <h3>2.1. Central Tendency</h3>
            <p>There are 3 main ways of measure data central tendency includes mean, median and mode.
                <ul>
                    <li>Mean sometimes often called average. To find the mean, you need to take the whole set of data and the summation of the data.
                        After that, divide the sum by the number of each data that are in the dataset <br>
                        For example: Find the mean of the following dataset:
                        56,35,45,67,12,24,48,55,58,30 <br><br>
                        <math><mfrac>
                            <mi> 56+35+45+67+12+24+48+55+58+30 </mi>
                            <mi> 10 </mi></mfrac>
                        </math><br><br>
                        <math><mfrac>
                            <mi> 430 </mi>
                            <mi> 10 </mi></mfrac>
                        </math>  
                        = 43 <br><br>
                        Mean = 43   
                    </li>
                    <li>
                        Median is the middle number in the whole dataset. In order to find median, we will need to sort data in ascending orders.<br>
                        If the data is odd number: 56,35,45,67,12,24,48 <br><br>
                        = 12, 24, 35, 45, 48, 56, 67 <br><br>
                        <math><mfrac>
                            <mi> 7 </mi>
                            <mi> 2 </mi></mfrac>
                        </math><br><br>
                        = 3.5 = 4. So the number in the forth position. which is 45 <br><br>
                        Median = 45 <br><br>
                        If the data is even number: 56,35,45,67,12,24,48,55 <br><br>
                        <math><mfrac>
                            <mi> 8 </mi>
                            <mi> 2 </mi></mfrac>
                        </math><br><br>
                        = 4. However, in this case, we need to use number in position 4 and 5 and get the median. <br><br>
                        <math><mfrac>
                            <mi> 45 + 48 </mi>
                            <mi> 2 </mi></mfrac>
                        </math><br><br>
                        Median = 46.5
                    </li>
                    <li>Mode is the data that have the highest frequency <br><br>
                        For example:2,5,6,2,2,2,5,6,2 <br><br>
                        Mode = 2
                    </li>
                </ul>
            </p>
            <h3>2.2 Data variability</h3>
            <p>
                There are 2 main ways to calculate the data variability, which are range and variance (or standard deviation). 
                <ul>
                    <li>Range is the most straight forward and simplest to understand in measuring variability. The range of the dataset is the 
                        dataset is the difference between minimun and maximum in the data. Therefore, we need to sort the data into asecending order. <br><br>
                        For example: Find the range for dataset:20,21,22,25,26,29,33,34,38 <br>
                        Range = 38 -20 = 18. <br>
                        The bigger the range, the more variability the dataset is. However, range is simple and based on 2 numbers which makes it susceptible to outliers. It is also not a good idea 
                        to use range to compare 2 dataset with different sample size. <br>
                    </li>
                    <li>Varaince which is the sqaured of standard deviation, is the average sqaured difference from mean. Unlike range, variance includes all value and compare to mean.
                        To calculate this statistic, you calculate a set of squared differences between the data points and the mean, sum them, and then divide by the number of observations. 
                        Hence, it’s the average squared difference. Moreover, the way you calculate the variance are different between population variance and sample variance.
                    </li>
                </ul>
            </p>
        </div>
        <div class="container">
            <hr>
            <h2 id="plot">3.Different plots used in Statistics</h2>
            <p>Different plots are used for different purposes. For quantitative data: we usually will use histogram, scatterplot.
                For qualitative data: we usually will use bar plot. 
                <ol>
                    <li>Histogram: It is used to show the disribution of data. </li>
                    <canvas id="histogram"></canvas> <br><br>
                    <li>Scatterplot: It is used to check whether there is a relationship between 2 datatset</li>
                    <canvas id="scatterplot"></canvas> <br><br>  
                </ol>
                <ol>
                    <li>Bar plot is used to count categorical data for each classes.</li>
                </ol>
            </p>
        </div>
        <div class="container">
            <hr>
            <h2 id="combination">4. Combination and Permutation</h2>
            <p>
                To begin learning combination and permutation, firstly, we will need to know what is combination and permutation and what is the 
                different. <br>
                Combination and Permutation is the various ways in which objects from a set maybe selected generally without replacement to form a subset. This selection of a 
                subset called premutation when the order is considered. A combination when an order is not factor. 
                There are basically two types of permutation:
                <ol>
                    <li>Reptition is allowed. They are easy to calculate. 
                        For example, when thing has n different type, we have n choices each time!. 
                        Choosing 3 of those things， the permutation are n * n * n 
                        Therefore, it is easier to write down using an exponent of r: n<sup>r</sup>. 
                        where n is the number of things to choose from, and we choose r of them, repetition is allowed, and order matters.
                    </li>
                    <li> 
                        Permutation without repitition. In this case, we have to reduce the number of choice available each time. In order to calculate, 
                        we can used factorial function !. Factorial is just function used to multiply a series of number in descending order. 
                        The number of permutations of n objects taken r at a time is determined by the following formula: <br>
                        <math><mfrac>
                            <mi> n! </mi>
                            <mi> (n -r) ! </mi></mfrac>
                        </math><br><br>
                    </li>
                </ol>
            </p>
        </div>
        <div class="container">
            <hr>
            <h2 id="probability">5. Probabilities of events</h2>
            <p>
                Probability is ratio between the number of wanted outcome compare to the number of all possible outcome. Formula can be written as: <br><br>
                Probabilities = 
                <math><mfrac>
                    <mi> The number of wanted outcomes </mi>
                    <mi> The number of possible outcomes </mi></mfrac>
                </math><br><br>
                For example, what is probabilities of getting head when you toss a coin? <br>
                A coin has 2 sides which are head and tail. Therefore, it gives us a probability of <br><br>
                p = 
                <math><mfrac>
                    <mi> 1 </mi>
                    <mi> 2 </mi></mfrac>
                </math><br><br>
                In probability, there is something called event. Each event can be:
                <ul>
                    <li>Independent event. Two events are independent when the outcome of the first event does not influence the outcome of 
                        the second event. It can be calculated by multiply the probability of the first event and the probability of the second event. 
                        P(X and Y) = P(X) * P(Y) <br><br>
                        For example, if you have 3 coins, what is the probability of getting 3 head? <br><br>
                        The probability of getting 1 head = 
                        <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 2 </mi></mfrac>
                        </math><br><br>
                        The probability of getting 3 head = <br><br>
                        P(head and head and head)
                        <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 2 </mi></mfrac>
                        </math> . 
                        <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 2 </mi></mfrac>
                        </math> . 
                        <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 2 </mi></mfrac>
                        </math> = 
                        <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 6 </mi></mfrac>
                        </math>
                        <br><br>
                    </li>
                    <li>Dependent event. When the outcome of the first event affect the second event, it is called dependent events. 
                        The probability of two dependent events is the product of the probability of X and the probability of Y <b>AFTER</b> X occurs.
                        P(X and Y) = P(X) * P(Y|X) <br><br>
                        For example: in a bag containing 15 marballs with 3 different colors, red, blue and yellow. Each color has 5 marballs. What is the 
                        probability of getting 2 marballs that are red? <br><br>
                        P(red) = <math><mfrac>
                            <mi> 5 </mi>
                            <mi> 15 </mi></mfrac>
                        </math> <br>
                        Then, the probability of choosing the second red: <br>
                        P(red) = <math><mfrac>
                            <mi> 4 </mi>
                            <mi> 14 </mi></mfrac>
                        </math> <br>
                        Therefore, the probability of 2 reds <br>
                        P(2 red) = <math><mfrac>
                            <mi> 5 </mi>
                            <mi> 15 </mi></mfrac>
                        </math> * 
                        <math><mfrac>
                            <mi> 4 </mi>
                            <mi> 14 </mi></mfrac>
                        </math> = 
                        <math><mfrac>
                            <mi> 20 </mi>
                            <mi> 210 </mi></mfrac>
                        </math> <br><br>
                    </li>
                    <li>Two events are mutually exclusive when two events cannot happen at the same time. 
                        The probability that one of the mutually exclusive events occur is the sum of their individual probabilities.
                        P(X or Y) = P(X) + P(Y)
                        From the marball example, what is the probability of getting marball that red or blue color? <br><br>
                        P(red or blue ) = P(red) + P(blue) <br><br>
                        P(red) = <math><mfrac>
                            <mi> 5 </mi>
                            <mi> 15 </mi></mfrac>
                        </math> = <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 3 </mi></mfrac>
                        </math> <br><br>
                        P(blue) = <math><mfrac>
                            <mi> 5 </mi>
                            <mi> 15 </mi></mfrac>
                        </math> = <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 3 </mi></mfrac>
                        </math> <br><br>
                        P(red or blue) = <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 3 </mi></mfrac>
                        </math> * <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 3 </mi></mfrac>
                        </math> = 
                        <math><mfrac>
                            <mi> 1 </mi>
                            <mi> 6 </mi></mfrac>
                        </math>
                    </li>
                    <li>Inclusive events are events that can happen at the same time. 
                        To find the probability of an inclusive event we first add the probabilities of the individual events and then subtract the 
                        probability of the two events happening at the same time.
                        P(X or Y) = P(X) + P(Y) - P(X and Y)
                        For example, In a deck of card, there are 52 cards。 What are the probability that we select a red card or a five in a deck of card? <br><br>
                        There are 4 five in a deck of card. P(5)= 
                        <math><mfrac>
                            <mi> 4 </mi>
                            <mi> 52 </mi></mfrac>
                        </math> <br><br>
                        There are 26 red card. P(red) = 
                        <math><mfrac>
                            <mi> 26 </mi>
                            <mi> 52 </mi></mfrac>
                        </math> <br><br>
                        There are two red five. P(5 and red) = 
                        <math><mfrac>
                            <mi> 2 </mi>
                            <mi> 52 </mi></mfrac>
                        </math> <br><br>
                        P(five or black) = 
                        <math><mfrac>
                            <mi> 4 </mi>
                            <mi> 52 </mi></mfrac>
                        </math> + 
                        <math><mfrac>
                            <mi> 26 </mi>
                            <mi> 52 </mi></mfrac>
                        </math> - 
                        <math><mfrac>
                            <mi> 2 </mi>
                            <mi> 52 </mi></mfrac>
                        </math> = 
                        <math><mfrac>
                            <mi> 28 </mi>
                            <mi> 52 </mi></mfrac>
                        </math> = 
                        <math><mfrac>
                            <mi> 7 </mi>
                            <mi> 13 </mi></mfrac>
                        </math>
                    </li>
                </ul>
            </p>
        </div>
        <hr>
{% endblock %}        
{% block footer %}
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
    