{% extends 'base.html' %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="breadcrumbs">
  <div class="container">
    <h1>Why is statistics important !!!</h1>
  </div>
</div>
<div class="container">
  <iframe class="vid_center" width="800" height="545" src="https://www.youtube.com/embed/7hzDFkJcROE?autoplay=1&mute=1" title="YouTube video player" frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}