{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}
<div class="container">
    <h1>Happy Study Statistics</h1>
    <p>
        Welcome to your one stop of study statistics. This website will help to make your statistics study more effective and simpler. <br><br>
        This website will start from basic of statistics to probability. <br>
        The topics will includes in this website:</p>
    <ol>
        <li>Basic Statistics Calculation</li>
        <li>Different plot used in Statistics</li>
        <li>Combination and Permutation</li>
        <li>Probabilities of events</li>
    </ol>
    <p>This websites is made for everyone from students with no statistics backgrounds to someone who is want to expand their knowledge in statistics. 
        Most important, we are trying to make it as simpler and interesting as possible so everyone can follow and continue to learn. <br><br>
        Have a good journey in your study. 
    </p>
    </div>   
    <div class="container">
    <hr>
    <p>This websites founder is Nara Eam and Yao Jing. We are a master student at University of Western Australia, major in Information Technology.</p>
</div> 
{% endblock %}  
{% block script %} {{ super() }} {% endblock %}   