{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<section id="why-us " class="why-us">
    <div class="container questions" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Progress</h3>
            <p>
              Welcome {{user}} <br> 
              {% if current_user.score_1==None and current_user.score_3 == None and current_user.score_2 == None %}
              There are three levels quiz left. Please take the quiz. 
              {% elif current_user.score_3 == None and current_user.score_2 == None %}
              You have completed level 1 quiz. There are still 2 more levels quiz to go. 
              {% elif current_user.score_3 == None %}
              You have completed level 1 and level 2 quiz. There are still 1 more level quiz to go. 
              {% elif current_user.score_1 != None and current_user.score_2 != None and current_user.score_3 != None %}
              You have sucessfully completed all the quiz. Congratulation. 
              {% endif %}
            </p>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Level</h4>
                  <p>
                    {% if current_user.score_1 != None %}
                    {{ user }} level 1 result quiz is
                    {{current_user.score_1}} out of 10. 
                    {% else %}
                    {{ user }} need to complete test level 1. 
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Level</h4>
                  <p>
                    {% if current_user.score_2 != None %}
                    {{ user }} level 2 result quiz is
                    {{current_user.score_2}} out of 10. 
                    {% else %}
                    {{ user }} need to complete test level 2. 
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Level</h4>
                  <p>{% if current_user.score_3 != None %}
                    {{ user }} level 3 result quiz is
                    {{current_user.score_3}} out of 10. 
                    {% else %}
                    {{ user }} need to complete test level 3. 
                    {% endif %}</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
</section><!-- End Why Us Section -->
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}